:root{
    --size:70px;
}
.circle{
    position: absolute;
    width: var(--size);
    height: var(--size);
    top: calc(50vh - var(--size) / 2);
    left: calc(50vw - var(--size) / 2);

    border-radius: 50%;
    border: 3px solid orange;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 100ms;
    cursor: pointer;
}
.circle:hover{
    width: calc(var(--size)*1.2);
    height:  calc(var(--size)*1.2);
    top: calc(50vh - var(--size)*1.2 / 2);
    left: calc(50vw - var(--size)*1.2 / 2);

}
.circle.slow-animation{
    transition-duration: 500ms;
}
.circle > img{
    width: 100%;
    height: 100%;
}